{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p> {{message}} </p>
{% endfor %}
{% endif %}
{% endwith %}


<form action ="/add_contact" method="POST">
    
    <input type="text" name="fullname" placeholder="Fullname">
    <input type="text" name="phone" placeholder="Phone">
    <input type="text" name="email" placeholder="Email">
    <button type ="submit">
        Save
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Operaciones</td>
        </tr>
    </thead>

    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.1 }}</td>
            <td>{{ contact.2 }}</td>
            <td>{{ contact.3 }}</td>
            <td>
                <a href="/edit/{{contact.0}}"> Editar</a>
                <a href="/delete/{{contact.0}}"> Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
